body {
     background-image: linear-gradient(45deg, #000a00, #001e00, #003200, #003c00, #005a00, #006400);
     background-attachment: fixed;
}

li {
    list-style: none;    
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover {
    color: green;
}

header {
    position: sticky;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    aligh-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    padding: 0.5rem 1rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.active {
    background-color: green;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outling: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar .toggle_btn {
    color: #000;
    font-size: 1.5rem;
    cursosr: pointer;
    display: none;
}

.dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 1);
    background-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open {
    height: 240px;
}

.dropdown li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.dropdown .active {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    .navbar .links {
        display: none;
    }
    
    .navbar .toggle_btn {
        display: block;
    }
    
    .dropdown {
        display: inline;
    }
    
}

@media (max-width: 576px) {
    .dropdown {
        left: 2rem;
        width: unset;
    }
    }
    
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: #5f9ea0;
}

body::-webkit-scrollbar-thumb {
    background: #152238;
}

.amen {
    padding-top: 60px;
}

.eh {
    width: 60%;
}